/*.actr-button {*/
/*  margin-top: 10px;*/
/*  font-size: 1.4rem;*/
/*  padding: 7px 30px;*/
/*  display: inline-block;*/
/*  cursor: pointer;*/
/*  background-color: #db741b;*/
/*  border-radius: 0;*/
/*  font-weight: 400;*/
/*  text-align: center;*/
/*  color: white !important;*/
/*  text-decoration: none;*/
/*}*/
/*.actr-button:hover {*/
/*  background-color: #123ecf;*/
/*}*/

/*!**/
/* * Amazon GROUP template*/
/* * more complex mobile/desktop because boxes are next to each other*/
/* *!*/
/*!* container row *!*/
/*.amz-group {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  padding-bottom: 10px;*/
/*  padding-top: 10px;*/
/*  margin: 20px 0 20px 0;*/
/*  font-size: 1.2rem;*/
/*  !* col *!*/
/*  !* 1-2 rows *!*/
/*  !* We use a + selector to only add gaps between pairs of items*/
/*  (essentially just skipping the left margin for the first item in the list). *!*/
/*}*/
/*.amz-group .item-group-wrapper {*/
/*  flex: 1 0 0;*/
/*  !* padding: 5px; *!*/
/*  border: 4px solid #dedede;*/
/*  overflow: hidden; !* or text will nake containers wide*!*/
/*}*/
/*.amz-group .item-group-wrapper + .item-group-wrapper {*/
/*  margin: 0 0 0 10px;*/
/*}*/
/*.amz-group .amz-card {*/
/*  height: 100% !important;*/
/*  text-align: center;*/
/*  padding: 10px;*/
/*  !* set min-width: 0; to flex parents or nowrap will kill flexlayout *!*/
/*  !* price relation infos *!*/
/*}*/
/*.amz-group .amz-card .title {*/
/*  font-size: 1.4rem;*/
/*  padding: 5px;*/
/*  text-overflow: ellipsis;*/
/*  overflow: hidden;*/
/*  white-space: nowrap;*/
/*  text-align: left;*/
/*}*/
/*.amz-group .amz-card a.savings-link:hover {*/
/*  text-decoration: underline;*/
/*  color: white;*/
/*}*/
/*.amz-group .amz-card .savings {*/
/*  display: block;*/
/*  color: #b50202;*/
/*  right: 0;*/
/*  text-align: center;*/
/*  font-size: 1rem;*/
/*}*/
/*.amz-group .amz-card .savings-na {*/
/*  display: block;*/
/*  padding: 5px;*/
/*  color: #fff;*/
/*  right: 0;*/
/*  text-align: center;*/
/*  background-color: #fff;*/
/*}*/
/*.amz-group .amz-card .price-basis {*/
/*  text-align: center;*/
/*  font-size: 1rem;*/
/*}*/
/*.amz-group .amz-card .image {*/
/*  margin-bottom: 10px;*/
/*  !* make too large images smaller if ony 2 row, also make the container hide*/
/*    * overflow of images that are too large in height*/
/*  *!*/
/*  !* lot of themes add a default border to images, not here*!*/
/*}*/
/*.amz-group .amz-card .image a {*/
/*  display: block;*/
/*  height: 200px;*/
/*  overflow: hidden;*/
/*  text-align: center;*/
/*}*/
/*.amz-group .amz-card .image img {*/
/*  border: 0 solid #fff;*/
/*  vertical-align: middle;*/
/*  background-color: transparent;*/
/*  height: 100%;*/
/*  -o-object-fit: contain;*/
/*  object-fit: contain;*/
/*}*/
/*.amz-group .amz-card .listprice-strike {*/
/*  text-decoration: line-through;*/
/*}*/

/*!**************************************************************************/
/*  Amazon item and details template*/
/*************************************************************************!*/
/*.amz-product--container {*/
/*  padding: 10px;*/
/*  margin-bottom: 10px;*/
/*  font-size: 1.2rem;*/
/*  border-top: 1px solid #dedede;*/
/*  border-bottom: 1px solid #dedede;*/
/*}*/
/*.amz-product--container .inline {*/
/*  display: inline-block;*/
/*}*/
/*.amz-product--container .amz-title {*/
/*  flex-basis: 100%;*/
/*  font-size: 1.5rem;*/
/*  margin-bottom: 5px;*/
/*}*/
/*.amz-product--container .price-basis {*/
/*  margin: 0 0 5px 0;*/
/*}*/
/*.amz-product--container .savings-link {*/
/*  display: block;*/
/*  margin: 0 0 10px 0;*/
/*}*/
/*.amz-product--container img {*/
/*  border: 0;*/
/*  width: auto;*/
/*}*/
/*.amz-product--container .col2 .listprice-strike {*/
/*  text-decoration: line-through;*/
/*}*/
/*.amz-product--container.amz-item, .amz-product--container.amz-details {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*}*/
/*.amz-product--container.amz-item .col1, .amz-product--container.amz-details .col1 {*/
/*  flex-direction: column;*/
/*  text-align: center;*/
/*  width: 100%;*/
/*}*/
/*.amz-product--container.amz-item .col2, .amz-product--container.amz-details .col2 {*/
/*  flex-direction: column;*/
/*  width: 100%;*/
/*}*/
/*.amz-product--container.amz-item .col2 .title {*/
/*  font-size: 1.1rem;*/
/*  word-break: break-all;*/
/*  margin: 0 0 10px 0;*/
/*}*/
/*.amz-product--container.amz-item .col2 .savings {*/
/*  padding: 10px;*/
/*  color: #b50202;*/
/*  right: 0;*/
/*  text-align: center;*/
/*  border-radius: 3px;*/
/*}*/
/*.amz-product--container.amz-item .price-row {*/
/*  text-align: center;*/
/*  background: #e8e8e8;*/
/*  border-radius: 3px;*/
/*  padding: 10px;*/
/*  margin: 0 0 0 0;*/
/*  flex-grow: 1;*/
/*}*/
/*.amz-product--container.amz-details .image {*/
/*  margin-right: 20px;*/
/*  padding: 10px;*/
/*}*/
/*!**************************************************************************/
/*  sbutton template*/
/*************************************************************************!*/
/*.amz-sales-btn {*/
/*  display: inline-block;*/
/*  border: 1px solid #9b9b9b;*/
/*  border-radius: 5px;*/
/*  padding: 5px;*/
/*  text-align: center;*/
/*}*/
/*.amz-sales-btn div {*/
/*  background-color: transparent;*/
/*  border-radius: 0;*/
/*  text-align: center;*/
/*  padding: 5px;*/
/*  width: 100%;*/
/*}*/
/*.amz-sales-btn div a.amz-sbutton.button {*/
/*  background-color: #db741b;*/
/*  padding: 5px 10px 5px 10px;*/
/*  width: 100%;*/
/*}*/
/*.amz-sales-btn div a.amz-sbutton.button:hover {*/
/*  background-color: #123ecf;*/
/*}*/
/*.amz-sales-btn .price-basis {*/
/*  color: #323232;*/
/*}*/
/*.amz-sales-btn .listprice-strike {*/
/*  text-decoration: line-through;*/
/*}*/
/*.amz-sales-btn .savings-percentage {*/
/*  color: #830000;*/
/*  display: inline-block;*/
/*}*/

/*!*********************************************/
/*  Amazon Widget template*/
/*!********************************************!*/
/*.amz-widget {*/
/*  border: 1px solid #000;*/
/*  width: 120px;*/
/*  position: relative;*/
/*  text-align: center;*/
/*  display: inline-block;*/
/*  background-color: white;*/
/*}*/
/*.amz-widget .img-link {*/
/*  height: 140px;*/
/*  display: block;*/
/*  overflow: hidden;*/
/*  text-align: center;*/
/*}*/
/*.amz-widget img,*/
/*.amz-widget table .amz-widget a img {*/
/*  margin: 0 0 3px 0;*/
/*  -o-object-fit: contain;*/
/*  object-fit: contain;*/
/*  height: 100%;*/
/*  background-color: white;*/
/*}*/
/*.amz-widget .price-basis {*/
/*  display: block;*/
/*  padding: 0;*/
/*  color: #a00000;*/
/*  right: 0;*/
/*  font-size: 13px;*/
/*  text-align: center;*/
/*}*/
/*.amz-widget .price-basis .listprice-strike {*/
/*  font-size: 1.2rem;*/
/*  text-decoration: line-through;*/
/*}*/
/*.amz-widget .price-basis span {*/
/*  word-break: normal;*/
/*  white-space: normal;*/
/*}*/
/*.amz-widget .title {*/
/*  font-size: 1.1rem;*/
/*  line-height: 1.4rem;*/
/*  height: 55px;*/
/*  overflow: hidden;*/
/*  display: block;*/
/*  text-overflow: ellipsis;*/
/*  color: black;*/
/*  box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;*/
/*  border-bottom: 1px solid #e0e0e0;*/
/*}*/
/*.amz-widget .amz-price {*/
/*  background-color: #e8e8e8;*/
/*  padding: 3px;*/
/*  font-size: 1.2rem;*/
/*  display: block;*/
/*  margin: 5px 0 5px 0;*/
/*  font-weight: bold;*/
/*}*/

/*!*********************************************/
/*  Amazon Table Template*/
/*!********************************************!*/
/*.amz-table {*/
/*  border-top: 3px solid #848484;*/
/*  border-bottom: 3px solid #848484;*/
/*}*/
/*.amz-table thead tr {*/
/*  border: 1px solid #848484;*/
/*  border-bottom: 2px solid #808080;*/
/*}*/
/*.amz-table tbody tr {*/
/*  border: 1px solid #848484;*/
/*  background-color: white !important;*/
/*}*/
/*.amz-table tbody tr td {*/
/*  background-color: white;*/
/*}*/
/*.amz-table tbody tr td img {*/
/*  max-width: none;*/
/*}*/
/*.amz-table tbody ul li {*/
/*  text-align: left;*/
/*}*/
/*.amz-table .amz-button,*/
/*.amz-table .afn-popup-trigger {*/
/*  font-size: 1.1rem;*/
/*}*/
/*.amz-table .ctr-button {*/
/*  padding: 0.375rem 0.75rem 0.375rem 0.75rem;*/
/*  border-radius: 0.375rem;*/
/*  margin: 0 0 10px 0;*/
/*}*/

/*.amz-group.items-4 .item-group-wrapper {*/
/*  flex: 1 0 49%;*/
/*  margin: 2% 0 0 0;*/
/*}*/
/*.amz-group.items-4 .item-group-wrapper.item-2 {*/
/*  margin-left: 2%;*/
/*}*/
/*.amz-group.items-4 .item-group-wrapper.item-3 {*/
/*  margin-right: 2%;*/
/*}*/

/*!***/
/* Very small screen stacks*/
/* *!*/
/*@media screen and (min-width: 0px) and (max-width: 576px) {*/
/*  .amz-group.items-2 .item-group-wrapper {*/
/*    flex: 1 0 100%;*/
/*    margin: 0;*/
/*  }*/
/*  .amz-group.items-2 .item-group-wrapper.item-2 {*/
/*    margin-top: 10px;*/
/*  }*/
/*  .amz-group.items-3 .item-group-wrapper {*/
/*    flex: 1 0 100%;*/
/*    margin: 10px 0 0 0;*/
/*  }*/
/*  .amz-group.items-4 .item-group-wrapper {*/
/*    flex: 1 0 100%;*/
/*    margin: 10px 0 0 0;*/
/*  }*/
/*}*/
/*!**/
/** Medium screen stacks*/
/* *!*/
/*@media screen and (min-width: 768px) and (max-width: 1024px) {*/
/*  .amz-group.items-2 .item-group-wrapper {*/
/*    flex: 1 0 49%;*/
/*    margin: 0;*/
/*  }*/
/*  .amz-group.items-2 .item-group-wrapper.item-2 {*/
/*    margin-left: 2%;*/
/*  }*/
/*  .amz-group.items-3 .item-group-wrapper {*/
/*    flex: 1 0 50%;*/
/*    margin: 10px 0 0 0;*/
/*  }*/
/*  .amz-group.items-3 .item-group-wrapper.item-1,*/
/*  .amz-group.items-3 .item-group-wrapper.item-2 {*/
/*    flex: 1 0 49%;*/
/*    margin: 10px 0 0 0;*/
/*  }*/
/*  .amz-group.items-3 .item-group-wrapper.item-2 {*/
/*    margin-left: 2%;*/
/*  }*/
/*  .amz-group.items-3 .item-group-wrapper.item-3 .title {*/
/*    text-align: center;*/
/*  }*/
/*  .amz-group.items-4 .item-group-wrapper {*/
/*    flex: 1 0 49%;*/
/*    margin: 2% 0 0 0;*/
/*  }*/
/*  .amz-group.items-4 .item-group-wrapper.item-2 {*/
/*    margin-left: 2%;*/
/*  }*/
/*  .amz-group.items-4 .item-group-wrapper.item-3 {*/
/*    margin-right: 2%;*/
/*  }*/
/*}*/
/*!**/
/* * Very ugly ultra small screens*/
/* *!*/
/*!**/
/** Mobile switch for BS 4 theme using radix layouts*/
/** on small screens we mod the 3 row design*/
/** also we mode the inline template*/
/* *!*/
/*@media (min-width: 768px) {*/
/*  .amz-group.items-4 .item-group-wrapper .image img,*/
/*  .amz-group.items-5 .item-group-wrapper .image img,*/
/*  .amz-group.items-6 .item-group-wrapper .image img {*/
/*    width: 100px;*/
/*  }*/
/*  .amz-group.items-3 .item-group-wrapper {*/
/*    flex: 1 0 33%;*/
/*    margin: 10px 0 0 0;*/
/*  }*/
/*  .amz-group.items-5 .item-group-wrapper,*/
/*  .amz-group.items-6 .item-group-wrapper {*/
/*    flex: 1 0 25%;*/
/*    margin: 10px 0 0 0;*/
/*  }*/
/*  !* make it stack *!*/
/*  .amz-product--container.amz-item,*/
/*  .amz-product--container.amz-details {*/
/*    display: flex;*/
/*  }*/
/*  .amz-product--container.amz-item .col1,*/
/*  .amz-product--container.amz-details .col1 {*/
/*    flex-direction: column;*/
/*    flex: 0 0 30%;*/
/*    max-width: 30%;*/
/*  }*/
/*  .amz-product--container.amz-item .col2,*/
/*  .amz-product--container.amz-details .col2 {*/
/*    flex-direction: column;*/
/*    flex: 0 0 70%;*/
/*    max-width: 70%;*/
/*  }*/
/*  .amz-product--container.amz-item .image {*/
/*    margin-right: 20px;*/
/*  }*/
/*}*/
/*!* DESKTOP > 991*/
/* * group template on bigger screens*/
/**!*/
/*!**/
/* Ab hier greifen sidebars*/
/* *!*/
