
div.field-type-asin {
  display: block;
  clear: both;
  border-top: 2px solid #DDD;
  padding-top: 3px;
}
div.amazon-item {
  clear: both;
}
div.amazon-item img {
  float: left;
  padding-left: 3px;
  margin-bottom: 1em;
  margin-right: 1em;
}

div.amazon-item div {
  padding-left: 1em;
  margin-left: 100px;
  height: 4em;
}


/* autocomplete field: if you want to design it the css must be in the admin theme! NOT here*/



