{#
/**
 * @file
 * Theme the 'amazon-item' 'small' image style.
 * Many, many available variables. See template_preprocess_amazon_item().
 * Everything that gets put into $variables there is available.
 */
#}

<div class="{{ clean_item.classes }}">

  {%- if clean_item.invalid_asin != 0 -%}
    <div class='invalid-asin'>{{ 'This item is no longer valid on Amazon.'|t }}</div>
  {%- endif -%}

  <h5>Gallery Image(s)</h5>
  {% if clean_item.smallimage_gallery is not empty %}
    {% for image in clean_item.smallimage_gallery %}
      {{ image }}
    {% endfor %}
  {% endif %}

</div>




