 {#
/**
 * @file
 * Outputs a single piece of data as provided in $detail. Like title, asin, price
 *
 * This is used primarily for amazon_filter, where any arbitrary piece of data
 * from the $clean_item subarray of $variables can be accessed. See template_preprocess_amazon_pa_item()
 */
#}

{% if detail is not empty %}
  {{ attribute(clean_item, detail) }}
{% else %}
  {{ 'not found for'|t }} {{ detail }}
{% endif %}
