{#
/**
 /**
 * @file
 * Theme the 'amazon-item' 'thumbnail' image style.
 * Many, many available variables. See template_preprocess_amazon_pa_item().
 * Everything that gets put into $variables there is available.
 */

 */
#}

<div class="{{ clean_item.classes }}">
  {%- if clean_item.invalid_asin != 0 -%}
    <div class='invalid-asin'>{{ 'This item is no longer valid on Amazon.'|t }}</div>
  {%- endif -%}
  {% if clean_item.mediumimage is not empty %} {{ clean_item.mediumimage }}{% endif %}

  <h3>
    <strong>
      <a href="{{ clean_item.detailpageurl }}" rel="nofollow noopener sponsored" target="_blank">{{ clean_item.title }}</a>
    </strong>
  </h3>

</div>
