{#
/**
 * @file
 * Theme the 'amazon-item' style.
 * Many, many available variables. See template_preprocess_amazon_pa_item().
 * Everything that gets put into $variables there is available.
 */
#}

<a class="amz-button button actr-button" rel="nofollow noopener sponsored" target="_blank" href="{{ clean_item.detailpageurl }}">

  {%- if clean_item.invalid_asin != 0 -%}
    <span class='invalid-asin'>{{ 'This item is no longer valid on Amazon.'|t }}</span>
  {%- endif -%}

  {% if clean_item.listpriceformattedprice is not empty %}
    {{ clean_item.listpriceformattedprice }}
  {% endif %}

  {{ 'Buy at amazon'|t }}
</a>


