{#
/**
 * @file
 * Theme the 'amazon-item' style.
 * Many, many available variables. See template_preprocess_amazon_pa_item().
 * Everything that gets put into $variables there is available.
 */
#}

{% set rrp_text = 'Savings in relation to the RRP: '|t ~ clean_item.savingsbasis ~ '.The RRP is the suggested or recommended retail price of a product set by the manufacturer and provided by a manufacturer, supplier, or seller.'|t %}
{% set deal_text = 'Savings in relation to the last lowest price: '|t  ~ clean_item.savingsbasis ~ '. This is the lowest price of the product on Amazon.de in the past 30 days prior to the application of the price reduction.'|t  %}
{% set was_price_text = 'Savings in relation to the amazon median selling price/middle value: '|t  ~ clean_item.savingsbasis ~ '. The Was Price is the median selling price or "middle value" paid by customers for a product on Amazon.de (excluding promotional prices).'|t  %}

<div class="amz-widget amz-item {{ clean_item.classes }}">
  <div class="awrapper">

  {%- if clean_item.invalid_asin != 0 -%}
    <div class='invalid-asin'>{{ 'This item is no longer valid on Amazon.'|t }}</div>
  {%- endif -%}

  {# Savings, deal infos#}
  <div class="price-basis">
    {#some sort of sale percentage is shown#}
    {% if clean_item.savingsbasis is not empty %}


      {#list price, not real deal#}
      {% if (clean_item.pricetype == "LIST_PRICE") or clean_item.pricetype is empty %}
        <span class="price-text list-price" data-toggle="tooltip" data-placement="top" title="{{ rrp_text }}"><span class="savings"> {{ clean_item.savingspercentage }}</span> &#128712;</span>

        {#WAS_PRICE #}
      {% elseif clean_item.pricetype == "WAS_PRICE" %}
        <span class="price-text list-price" data-toggle="tooltip" data-placement="top" title="{{ was_price_text }}"><span class="savings"> {{ clean_item.savingspercentage }}</span> &#128712;</span>

      {#real deals, WAS_PRICE and others#}
      {% else %}
        <span class="price-text" data-toggle="tooltip" data-placement="top" title="{{ deal_text }}"><span class="savings"> {{ clean_item.savingspercentage }}</span> &#128712;</span>

      {% endif %}
    {% endif %}
  </div>

  <div class="image">
    <a class="img-link amz-link" href="{{- clean_item.detailpageurl -}}" target="_blank" rel="nofollow noopener sponsored">
      {%- if clean_item.mediumimage is not empty -%}
        {{- clean_item.mediumimage -}}
      {%- endif -%}
    </a>
  </div>

  <span class="title">{{ clean_item.title }}</span>
  <div class="body">
    <div class="price-row">
      <div class="amz-price">
        {% if clean_item.listpriceformattedprice is not empty %}
          {{ clean_item.listpriceformattedprice }}
        {% else %}
          N/A
        {% endif %}
      </div>
      <a class="buy-btn" href="{{ clean_item.detailpageurl }}" target="_blank" rel="nofollow noopener sponsored">Zum Angebot
        </a>
      <img src="/modules/contrib/amazon_pa/css/link-icon-shop.png" width="20px" height="20px" class="cart-icon" alt="Einkaufswagen Icon" title="Einkaufswagen Icon">

    </div>
  </div>


</div>
</div>
