{#
/**
 * @file
 * Theme the 'amazon-item' 'small' image style.
 * Many, many available variables. See template_preprocess_amazon_item().
 * Everything that gets put into $variables there is available.
 */
#}

<div class="{{ clean_item.classes }}">

  {%- if clean_item.invalid_asin != 0 -%}
    <div class='invalid-asin'>{{ 'This item is no longer valid on Amazon.'|t }}</div>
  {%- endif -%}

  <h5>Gallery Image(s)</h5>
  {% if clean_item.mediumimage_gallery is not empty %}
    {% for image in clean_item.mediumimage_gallery %}
      {{ image }}
    {% endfor %}
  {% endif %}


  <div>
    <strong>
      {{ 'Manufacturer'|t }}
    </strong>
    {% if clean_item.manufacturer is not empty %} {{ clean_item.manufacturer }}{% endif %}
  </div>

  <div>
    <strong>
      {{ 'Part Number'|t }}
    </strong>
    {% if clean_item.mpn is not empty %} {{ clean_item.mpn }}{% endif %}
  </div>

  <div>
    <strong>
      {{ 'Price'|t }}
    </strong>
    {% if clean_item.listpriceformattedprice is not empty %} {{ clean_item.listpriceformattedprice }}{% endif %}
  </div>

</div>




