{#
/**
 * @file
 * Theme the 'amazon-item' style.
 * Many, many available variables. See template_preprocess_amazon_pa_item().
 * Everything that gets put into $variables there is available.
 */
#}

{% set rrp_text = 'Savings in relation to the RRP: '|t ~ clean_item.savingsbasis ~ '.The RRP is the suggested or recommended retail price of a product set by the manufacturer and provided by a manufacturer, supplier, or seller.'|t %}
{% set deal_text = 'Savings in relation to the last lowest price: '|t  ~ clean_item.savingsbasis ~ '. This is the lowest price of the product on Amazon.de in the past 30 days prior to the application of the price reduction.'|t  %}
{% set was_price_text = 'Savings in relation to the amazon median selling price/middle value: '|t  ~ clean_item.savingsbasis ~ '. The Was Price is the median selling price or "middle value" paid by customers for a product on Amazon.de (excluding promotional prices).'|t  %}

<div class="amz-sales-btn">

  {% if clean_item.savingspercentage is not empty %}
    <span class="savings-percentage">{{ 'You save:'|t }} {{ clean_item.savingspercentage }}</span>
  {% endif %}

  <div class="amz-sbutton">
    {%- if clean_item.invalid_asin != 0 -%}
      <span class='invalid-asin'>{{ 'This item is no longer valid on Amazon.'|t }}</span>
    {%- endif -%}

    <a class="button actr-button" target="_blank" rel="nofollow noopener sponsored" href="{{ clean_item.detailpageurl }}">
      {% if clean_item.listpriceformattedprice is not empty %}
        {{ clean_item.listpriceformattedprice }}
      {% endif %}
      {{ 'Buy at amazon'|t }}
      <img src="/modules/contrib/amazon_pa/css/link-icon-shop.png" width="20px" height="20px" class="cart-icon" alt="Einkaufswagen Icon" title="Einkaufswagen Icon">
    </a>

    {#some sort of sale percentage is shown#}
    {% if clean_item.savingsbasis is not empty %}
      <div class="price-basis">

        {#list price, not real deal#}
        {% if (clean_item.pricetype == "LIST_PRICE") or clean_item.pricetype is empty %}
          <span>{{ 'Recommended retail price:'|t }}</span>
          <span class="listprice-strike">{{ clean_item.savingsbasis }}<span class="price-text" data-toggle="tooltip" data-placement="top" title="{{ rrp_text }}"><svg class='icon icon-info-circle-solid'><use href='/sites/all/libs/icomoon/symbol-defs.svg#icon-info-circle-solid'></use></svg></span></span>

          {#WAS_PRICE #}
        {% elseif clean_item.pricetype == "WAS_PRICE" %}
          <span>{{ 'Was price:'|t }}</span>
          <span class="listprice-strike">{{ clean_item.savingsbasis }}<span class="price-text" data-toggle="tooltip" data-placement="top" title="{{ was_price_text }}"><svg class='icon icon-info-circle-solid'><use href='/sites/all/libs/icomoon/symbol-defs.svg#icon-info-circle-solid'></use></svg></span></span>

          {#real deals, WAS_PRICE and others#}
        {% else %}
          {% if clean_item.pricetypelabel is not empty %}
            <span>{{ clean_item.pricetypelabel }}</span>
          {% else %}
            <span>{{ 'Lowest recent price:'|t }}</span>
          {% endif %}
          <span class="listprice-strike">{{ clean_item.savingsbasis }}<span class="price-text" data-toggle="tooltip" data-placement="top" title="{{ deal_text }}"><svg class='icon icon-info-circle-solid'><use href='/sites/all/libs/icomoon/symbol-defs.svg#icon-info-circle-solid'></use></svg></span></span>

        {% endif %}
      </div>
    {% endif %}
  </div>

</div>
