{#
/**
 * @file
 * Theme the 'amazon-item' 'details' style.
 * Many, many available variables. See template_preprocess_amazon_item().
 * Everything that gets put into $variables there is available.
 */
#}

<div class="amz-product--container amz-details {{ clean_item.classes }}">

  {%- if clean_item.invalid_asin != 0 -%}
    <div class='invalid-asin'>{{ 'This item is no longer valid on Amazon.'|t }}</div>
  {%- endif -%}

  <div class="col1">
    <div class="image">
      <a href="{{- clean_item.detailpageurl -}}" target="_blank" rel="nofollow noopener sponsored">
      {%- if clean_item.mediumimage is not empty -%}
        {{- clean_item.mediumimage -}}
      {%- endif -%}
      </a>
    </div>
  </div>

  <div class="col2">
    <div class="title">
      <h6>
        <a href="{{- clean_item.detailpageurl -}}" target="_blank" rel="nofollow noopener sponsored">{{- clean_item.title -}}</a>
      </h6>
    </div>

    <div class="manufacturer">
      <strong class="inline">{{ 'Manufacturer: '|t }}&nbsp;</strong>
      <span class="inline">
        {%- if clean_item.manufacturer is not empty -%}
          {{- clean_item.manufacturer -}}
        {%- endif -%}
      </span>
    </div>

    <div class="partnumber">
      <strong class="inline">{{ 'Part Number: '|t }}&nbsp;</strong>
      <span class="inline">
        {%- if clean_item.mpn is not empty -%}
          {{- clean_item.mpn -}}
        {%- endif -%}</span>
    </div>

    <div class="price">
      <strong class="inline">{{ 'Price: '|t }}&nbsp;</strong>
      <span class="inline">
        {%- if clean_item.listpriceformattedprice is not empty -%}
          {{- clean_item.listpriceformattedprice -}}
        {%- endif -%}</span>
    </div>
  </div>

</div>
