{#
/**
 /**
 * @file
 * Theme the 'amazon-item' 'thumbnail' image style.
 * Many, many available variables. See template_preprocess_amazon_pa_item().
 * Everything that gets put into $variables there is available.
 */

 */
#}

<div class="{{ clean_item.classes }}">
  {%- if clean_item.invalid_asin != 0 -%}
    <div class='invalid-asin'>{{ 'This item is no longer valid on Amazon.'|t }}</div>
  {%- endif -%}
  {% if clean_item.largeimage is not empty %} {{ clean_item.largeimage }}{% endif %}
</div>
